.App {
  text-align: center;
}

body{
  background: linear-gradient(0.25turn, #5f5f5f, #cccccc, #696969);
}

.form {
  background-color: rgb(215, 216, 221);
  text-align: center;
  border: rgb(73, 71, 71) solid 1px;
  padding: 1rem;
  height: auto;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #2c80cf
}

.card {
  background-color: rgb(215, 216, 221);
  text-align: center;
  border: rgb(73, 71, 71) solid 1px;
  padding: 1rem;
  height: auto;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #cf2cb9
}

.exp-card {
  background-color: rgb(215, 216, 221);
  text-align: center;
  border: rgb(73, 71, 71) solid 1px;
  padding: 1rem;
  height: auto;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #6AFA9F
}

.remove {
  position: relative;
  background-color: #c22a37;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  margin: 3px;
}
